@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&display=swap&subset=cyrillic-ext");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Open Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Open Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}
.header__column {
  padding: 0px 15px;
}
.header__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(70px, auto);
  -ms-grid-columns: 1fr minmax(auto, 840px) minmax(auto, 270px) 1fr;
      grid-template: minmax(70px, auto)/1fr minmax(auto, 840px) minmax(auto, 270px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.header__list {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 63px;
     -moz-column-gap: 63px;
          column-gap: 63px;
}
.header__link {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__burger-menu {
  display: none;
}
.header__phone {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  -ms-grid-column-align: end;
      justify-self: end;
}

.footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer;
  background: blueviolet;
}

body {
  font-family: "Open Sans";
  font-size: 18px;
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template: 1fr minmax(100px, auto)/1fr;
      grid-template-areas: "main" "footer";
}

.main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
  background: #666;
}

.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  min-height: 100vh;
  width: 150px;
  overflow: hidden;
  background: rgba(51, 51, 51, 0.75);
}
.sidebar__content {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr minmax(250px, auto) minmax(120px, auto) minmax(200px, auto);
  -ms-grid-columns: 150px;
      grid-template: 1fr minmax(250px, auto) minmax(120px, auto) minmax(200px, auto)/150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
.sidebar__text {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 250px;
  -ms-grid-row-align: center;
      align-self: center;
}
.sidebar__text span {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C4C4C4;
}
.sidebar__decor {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
.sidebar__decor span {
  display: block;
  width: 3px;
  height: 80px;
  background: #C4C4C4;
}
.sidebar__socials {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
}
.sidebar__item svg {
  fill: white;
}
.sidebar__item:hover svg {
  fill: gold;
}

.section-home {
  min-height: 100vh;
  background: url("../../img/sectionHome/Rectanglemin.jpg") center/cover no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 1110px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 1110px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px;
}
.section-home__container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(510px, 540px) minmax(auto, 125px) 370px minmax(auto, 75px);
      grid-template: 1fr/minmax(510px, 540px) minmax(auto, 125px) 370px minmax(auto, 75px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-home__content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.section-home__poster {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.content__title {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0px 0px 50px 0px;
}
.content__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 0px 0px 50px 0px;
}
.content__button-link {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  outline: none;
  color: #000;
  padding: 18px 47px 18px 47px;
  width: 160px;
  background-color: #D1A954;
}

.poster__slider {
  position: relative;
  width: 370px;
  height: 510px;
}
.poster__slider .poster__slider_top {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.poster__slider .poster__slider_bottom {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.poster__control {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  padding: 35px 0px 0px 0px;
}

.control {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.control__prev {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-column-align: start;
      justify-self: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
.control__arrow {
  position: relative;
  width: 40px;
  height: 2px;
  background: #fff;
}
.control__arrow_left::before {
  content: "";
  border: solid white;
  border-width: 3px 0px 0px 3px;
  display: inline-block;
  padding: 6px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: -6px;
  left: 1px;
}
.control__arrow_right::after {
  content: "";
  border: solid white;
  border-width: 0px 3px 3px 0px;
  display: inline-block;
  padding: 6px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: -6px;
  right: 1px;
}
.control__next {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: end;
      justify-self: end;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.section-description {
  background: #333333;
}
.section-description__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 1110px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 1110px) 1fr;
}
.section-description__row {
  margin: 150px 0px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: 1fr;
      grid-template: auto auto/1fr;
}
.section-description__title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding-bottom: 100px;
}
.section-description__inner {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: minmax(auto, 445px) 30px minmax(auto, 255px) 30px minmax(auto, 350px);
      grid-template: auto/minmax(auto, 445px) minmax(auto, 255px) minmax(auto, 350px);
  color: #FFFFFF;
  font-style: normal;
}
.section-description__story {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.section-description__text {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}
.section-description__statistics {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.section-description__image {
  position: relative;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}
.section-description__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.title {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.title__span_orange {
  color: #D1A954;
}

.statistics__subtitle {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
.statistics__items {
  padding-bottom: 30px;
}
.statistics__items:last-child {
  padding-bottom: 0px;
}
.statistics__icon {
  width: 70px;
  height: 70px;
}
.statistics__desc {
  font-family: "Open Sans Condensed";
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  padding-top: 17px;
}
.statistics__desc span {
  color: #D1A954;
}

.subtitle__section-description {
  font-family: "Open Sans Condensed";
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-bottom: 40px;
}