.sidebar {
	position: fixed;
	left: 0px;
	top: 0px;
	min-height: 100vh;
	width: 150px;
	overflow: hidden;
	background: rgba(51, 51, 51, 0.75);
	// .sidebar__content

	&__content {
		min-height: 100vh;
		display: grid;
		grid-template: 1fr minmax(250px, auto) minmax(120px, auto) minmax(200px, auto) / 150px;
		align-items: center;
		justify-items: center;
	}

	// .sidebar__text

	&__text {
		grid-row: 2/3;
		transform: rotate(-90deg);
		width: 250px;
		align-self: center;

		& span {
			font-family: "Open Sans Condensed";
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 25px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #C4C4C4;
		}
	}

	// .sidebar__decor

	&__decor {
		grid-row: 3/4;

		& span {
			display: block;
			width: 3px;
			height: 80px;
			background: #C4C4C4;
		}
	}

	// .sidebar__socials

	&__socials {
		grid-row: 4/5;
		display: grid;
		justify-items: center;
		align-items: stretch;
		height: 100%;
	}

	// .sidebar__item

	&__item {
		svg {
			fill: white;
		}
		&:hover{
			& svg {
				fill: gold;
			}
		}
	}
}