//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//<МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&display=swap&subset=cyrillic-ext");
//<ШРИФТЫ>===============================================================================================

//<ПЕРЕМЕННЫЕ>============================================================================================
$fontfamily: "Open Sans";
$minwidth: 320px;
$maxwidth: 1414;
$maxwidthcontainer: 1860; //ограничивающий контейнер.
$mw: 970;
$md1: $maxwidthcontainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================

//<ОБНУЛЕНИЕ, общие параметры>============================================================================
@import "null.scss";
//<ОБНУЛЕНИЕ, общие параметры>============================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================
@import "header.scss";
@import "footer.scss";
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================

//<Оболочка, основная сетка>==============================================================================================
body {
	font-family: $fontfamily;
	font-size: 18px;
	height: 100%;
}

.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template: 1fr minmax(100px, auto) / 1fr;
	grid-template-areas:
		"main"
		"footer";
}

.main {
	grid-area: main;
	background: #666;
}

//<Оболочка, основная сетка>==============================================================================================

//aside===================================================================================================================
.sidebar {
	position: fixed;
	left: 0px;
	top: 0px;
	min-height: 100vh;
	width: 150px;
	overflow: hidden;
	background: rgba(51, 51, 51, 0.75);
	// .sidebar__content

	&__content {
		min-height: 100vh;
		display: grid;
		grid-template: 1fr minmax(250px, auto) minmax(120px, auto) minmax(200px, auto) / 150px;
		align-items: center;
		justify-items: center;
	}

	// .sidebar__text

	&__text {
		grid-row: 2/3;
		transform: rotate(-90deg);
		width: 250px;
		align-self: center;

		& span {
			font-family: "Open Sans Condensed";
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 25px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #C4C4C4;
		}
	}

	// .sidebar__decor

	&__decor {
		grid-row: 3/4;

		& span {
			display: block;
			width: 3px;
			height: 80px;
			background: #C4C4C4;
		}
	}

	// .sidebar__socials

	&__socials {
		grid-row: 4/5;
		display: grid;
		justify-items: center;
		align-items: stretch;
		height: 100%;
	}

	// .sidebar__item

	&__item {
		svg {
			fill: white;
		}
		&:hover{
			& svg {
				fill: gold;
			}
		}
	}
}

//aside===================================================================================================================

//<section__home>=========================================================================================================
.section {}

.section-home {
	min-height: 100vh;
	background: url("../../img/sectionHome/Rectanglemin.jpg") center / cover no-repeat;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 1110px) 1fr;
	align-items: center;
	padding: 0px 15px;
	// .section-home__container

	&__container {
		grid-column: 2/3;
		display: grid;
		grid-template: 1fr / minmax(510px, 540px) minmax(auto, 125px) 370px minmax(auto, 75px);
		align-items: center;
	}

	// .section-home__content

	&__content {
		grid-column: 1/2;
	}

	// .section-home__poster

	&__poster {
		grid-column: 3/4;

	}
}



.content {


	// .content__description
	&__description {}

	// .content__title

	&__title {
		font-family: "Open Sans Condensed";
		font-style: normal;
		font-weight: bold;
		font-size: 64px;
		line-height: 87px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #FFFFFF;
		padding: 0px 0px 50px 0px;
	}

	// .content__text

	&__text {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;
		color: #FFFFFF;
		padding: 0px 0px 50px 0px;
	}

	// .content__button-link

	&__button-link {
		text-transform: uppercase;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 25px;
		text-align: center;
		user-select: none;
		text-decoration: none;
		outline: none;
		color: #000;
		padding: 18px 47px 18px 47px;
		width: 160px;
		background-color: #D1A954;

	}
}

.poster {
	// .poster__container

	&__container {}

	// .poster__slider

	&__slider {
		position: relative;
		width: 370px;
		height: 510px;

		& .poster__slider_top {
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 2;
		}

		& .poster__slider_bottom {
			position: absolute;
			bottom: 0px;
			right: 0px;
		}
	}

	// .poster__control

	&__control {
		display: grid;
		grid-auto-flow: column;
		padding: 35px 0px 0px 0px;
	}
}

.control {
	align-items: center;
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	// .control__prev

	&__prev {
		display: grid;
		grid-auto-flow: column;
		justify-self: start;
		align-items: center;
		column-gap: 25px;
	}

	// .control__arrow

	&__arrow {
		position: relative;
		width: 40px;
		height: 2px;
		background: #fff;
		// .control__arrow_left

		&_left {
			&::before {
				content: '';
				border: solid white;
				border-width: 3px 0px 0px 3px;
				display: inline-block;
				padding: 6px;
				transform: rotate(-45deg);
				position: absolute;
				top: -6px;
				left: 1px;
			}
		}

		// .control__arrow_right

		&_right {
			&::after {
				content: '';
				border: solid white;
				border-width: 0px 3px 3px 0px;
				display: inline-block;
				padding: 6px;
				transform: rotate(-45deg);
				position: absolute;
				top: -6px;
				right: 1px;
			}
		}
	}

	// .control__next

	&__next {
		align-items: center;
		justify-self: end;
		display: grid;
		grid-auto-flow: column;
		column-gap: 25px;
	}
}

.span {

	// .span__prev

	&__prev {}

	// .span__next

	&__next {}
}

//<section__home>=========================================================================================================

//section description ====================================================================================================
.section-description {
	background: #333333;
	// .section-description__container

	&__container {
		display: grid;
		grid-template: 1fr / 1fr minmax(auto, 1110px) 1fr;
	}

	// .section-description__row

	&__row {
		margin: 150px 0px;
		grid-column: 2/3;
		grid-template: auto auto / 1fr;
	}

	// .section-description__title

	&__title {
		grid-row: 1/2;
		display: grid;
		justify-items: center;
		padding-bottom: 100px;
	}

	// .section-description__inner

	&__inner {
		grid-row: 2/3;
		column-gap: 30px;
		display: grid;
		grid-template: auto / minmax(auto, 445px) minmax(auto, 255px) minmax(auto, 350px);
		color: #FFFFFF;
		font-style: normal;
	}

	// .section-description__story

	&__story {
		grid-column: 1/2;
	}

	// .section-description__subtitle

	&__subtitle {}

	// .section-description__text

	&__text {
		font-family: "Open Sans";
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;
	}

	// .section-description__statistics

	&__statistics {
		grid-column: 2/3;
		display: grid;
		align-items: end;
	}

	// .section-description__image

	&__image {
		position: relative;
		grid-column: 3/4;

		& img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}

.title {
	font-family: "Open Sans Condensed";
	font-weight: 300;
	font-size: 48px;
	line-height: 65px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	// .title__content

	&__content {}

	// .title__span

	&__span {

		// .title__span_orange

		&_orange {
			color: #D1A954;
		}
	}
}

.statistics {

	// .statistics__subtitle

	&__subtitle {
		align-self: start;
	}

	// .statistics__items

	&__items {
		padding-bottom: 30px;

		&:last-child {
			padding-bottom: 0px;
		}
	}

	// .statistics__icon

	&__icon {
		width: 70px;
		height: 70px;

	}

	// .statistics__desc

	&__desc {
		font-family: "Open Sans Condensed";
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.05em;
		padding-top: 17px;

		& span {
			color: #D1A954;
		}
	}
}

.subtitle {

	// .subtitle__section-description

	&__section-description {
		font-family: "Open Sans Condensed";
		font-weight: bold;
		font-size: 21px;
		line-height: 29px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		padding-bottom: 40px;
	}
}

//section description ====================================================================================================