//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//<МИКСИНЫ>===============================================================================================

//<ПЕРЕМЕННЫЕ>============================================================================================
$fontfamily: "Aria";
$minwidth: 320px;
$maxwidth: 1414;
$maxwidthcontainer: 1860; //ограничивающий контейнер.
$mw: 970;
$md1: $maxwidthcontainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================

//<ОБНУЛЕНИЕ, общие параметры>============================================================================
@import "null.scss";
//<ОБНУЛЕНИЕ, общие параметры>============================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================
@import "header.scss";
@import "footer.scss";
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================

//<Оболочка, основная сетка>==============================================================================================
body {
	font-size: 24px;
}

.wrapper {
	min-height: 100%;
	display: grid;
	grid-template: minmax(100px, auto) 1fr minmax(100px, auto) / 1fr;
	grid-template-areas: 
		"header"
		"main"
		"footer";
}

.main {
	grid-area: main;
	background: #666;
}
//<Оболочка, основная сетка>==============================================================================================