//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//<МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&display=swap&subset=cyrillic-ext");
//<ШРИФТЫ>===============================================================================================

//<ПЕРЕМЕННЫЕ>============================================================================================
$fontfamily: "Open Sans";
$minwidth: 320px;
$maxwidth: 1920;
$maxwidthcontainer: 1860; //ограничивающий контейнер.
$mw: 970;
$md1: $maxwidthcontainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================

//<ОБНУЛЕНИЕ>============================================================================
@import "null.scss";
//<ОБНУЛЕНИЕ>============================================================================

//<Оболочка, основная сетка, общие параметры>==============================================================================================
body {
	font-family: $fontfamily;
	font-size: 18px;
	height: 100%;
	background: #333;
	font-style: normal;
	color: #FFFFFF;
}

.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template: 1fr minmax(100px, auto) / 1fr;
	grid-template-areas:
		"main"
		"footer";
}

.main {
	grid-area: main;
}

.img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

._button {
	&:hover {
		background: #e0b65a;
	}
} 

//<Оболочка, основная сетка, общие параметры>==============================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================
@import "header.scss";
@import "sidebar.scss";
@import "sectionHome.scss";
@import "sectionDescription.scss";
@import "performances.scss";
@import "placard.scss";
@import "partnership.scss";
@import "sponsorship.scss";
@import "footer.scss";
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================